# Ensuring Consistency with ACID Transactions with Delta Lake (Loan Risk Data)

<img src="https://pages.databricks.com/rs/094-YMS-629/images/delta-lake-logo-whitebackground.png" width=200/>

This is a companion notebook to provide a Delta Lake example against the Lending Club data.
* This notebook has been tested with *DBR 5.4 ML Beta, Python 3*

## The Data

The data used is public data from Lending Club. It includes all funded loans from 2012 to 2017. Each loan includes applicant information provided by the applicant as well as the current loan status (Current, Late, Fully Paid, etc.) and latest payment information. For a full view of the data please view the data dictionary available [here](https://resources.lendingclub.com/LCDataDictionary.xlsx).


![Loan_Data](https://preview.ibb.co/d3tQ4R/Screen_Shot_2018_02_02_at_11_21_51_PM.png)

https://www.kaggle.com/wendykan/lending-club-loan-data

## ![Delta Lake Tiny Logo](https://pages.databricks.com/rs/094-YMS-629/images/delta-lake-tiny-logo.png) Delta Lake

Optimization Layer a top blob storage for Reliability (i.e. ACID compliance) and Low Latency of Streaming + Batch data pipelines.

## Import Data and create pre-Delta Lake Table
* This will create a lot of small Parquet files emulating the typical small file problem that occurs with streaming or highly transactional data

In [5]:
# -----------------------------------------------
# Uncomment and run if this folder does not exist
# -----------------------------------------------
# Configure location of loanstats_2012_2017.parquet
lspq_path = "/databricks-datasets/samples/lending_club/parquet/"

# Read loanstats_2012_2017.parquet
data = spark.read.parquet(lspq_path)

# Reduce the amount of data (to run on DBCE)
(loan_stats, loan_stats_rest) = data.randomSplit([0.01, 0.99], seed=123)

# Select only the columns needed
loan_stats = loan_stats.select("addr_state", "loan_status")

# Create loan by state
loan_by_state = loan_stats.groupBy("addr_state").count()

# Create table
loan_by_state.createOrReplaceTempView("loan_by_state")

# Display loans by state
display(loan_by_state)

addr_state,count
AZ,330
SC,193
LA,163
MN,264
NJ,556
DC,35
OR,200
VA,426
RI,59
KY,154
WY,36
NH,79
MI,398
NV,202
WI,182
ID,24
CA,1948
CT,229
NE,40
MT,37
NC,406
VT,39
MD,337
DE,28
MO,225
IL,571
ME,16
WA,324
ND,25
MS,80
AL,191
IN,244
OH,518
TN,235
NM,83
PA,535
SD,29
NY,1188
TX,1274
WV,50
GA,483
MA,338
KS,131
FL,1028
CO,292
AK,28
AR,110
OK,147
UT,86
HI,90

## ![Delta Lake Tiny Logo](https://pages.databricks.com/rs/094-YMS-629/images/delta-lake-tiny-logo.png) Easily Convert Parquet to Delta Lake format
With Delta Lake, you can easily transform your Parquet data into Delta Lake format.

In [7]:
# Configure Delta Lake Silver Path
DELTALAKE_SILVER_PATH = "/ml/denny.lee/loan_by_state_delta"

# Remove folder if it exists
dbutils.fs.rm(DELTALAKE_SILVER_PATH, recurse=True)

In [8]:
%sql 
-- Current example is creating a new table instead of in-place import so will need to change this code
DROP TABLE IF EXISTS loan_by_state_delta;

CREATE TABLE loan_by_state_delta
USING delta
LOCATION '/ml/denny.lee/loan_by_state_delta'
AS SELECT * FROM loan_by_state;

-- View Delta Lake table
SELECT * FROM loan_by_state_delta

addr_state,count
WI,182
VA,426
OH,518
DE,28
NY,1188
AK,28
MT,37
NJ,556
PA,535
SD,29
LA,163
AR,110
NM,83
KS,131
NV,202
HI,90
IN,244
GA,483
OK,147
OR,200
WA,324
ND,25
WY,36
KY,154
RI,59
WV,50
MA,338
ME,16
DC,35
NH,79
CA,1948
AL,191
UT,86
SC,193
AZ,330
CO,292
FL,1028
CT,229
NE,40
TX,1274
NC,406
MN,264
MD,337
VT,39
TN,235
MS,80
ID,24
MI,398
IL,571
MO,225

In [9]:
%sql 
DESCRIBE DETAIL delta.`/ml/denny.lee/loan_by_state_delta`

format,id,name,description,location,createdAt,lastModified,partitionColumns,numFiles,sizeInBytes,properties,minReaderVersion,minWriterVersion
delta,97bb8a24-297a-411a-8e12-da5a9ba33ae0,null,null,dbfs:/ml/denny.lee/loan_by_state_delta,2020-04-03T21:44:16.963+0000,2020-04-03T21:44:25.000+0000,List(),46,30508,Map(),1,2

## Stop the notebook before the streaming cell, in case of a "run all"

In [11]:
dbutils.notebook.exit("stop")

stop

In [12]:
%sh
ls -lt /dbfs/ml/denny.lee/loan_by_state_delta/_delta_log/

## ![Delta Lake Tiny Logo](https://pages.databricks.com/rs/094-YMS-629/images/delta-lake-tiny-logo.png) Unified Batch and Streaming Source and Sink

These cells showcase streaming and batch concurrent queries (inserts and reads)
* This notebook will run an `INSERT` every 10s against our `loan_stats_delta` table
* We will run two streaming queries concurrently against this data
* Note, you can also use `writeStream` but this version is easier to run in DBCE

In [14]:
# Read the insertion of data
spark.sql("set spark.sql.shuffle.partitions = 1")
spark.sql("set spark.databricks.delta.snapshotPartitions = 1")
loan_by_state_readStream = spark.readStream.format("delta").load(DELTALAKE_SILVER_PATH)
loan_by_state_readStream.createOrReplaceTempView("loan_by_state_readStream")

In [15]:
%sql
select addr_state, sum(`count`) as loans from loan_by_state_readStream group by addr_state

addr_state,loans
MI,398
IL,571
WY,36
AR,110
OR,200
SC,193
AZ,330
IA,2700
MN,264
SD,29
DE,28
KS,131
CA,1948
MA,338
GA,483
OH,518
MS,80
NH,79
MD,337
VT,39
CT,229
LA,163
TX,1274
TN,235
AL,191
FL,1028
NC,406
PA,535
ID,24
DC,35
CO,292
OK,147
ME,16
NM,83
NJ,556
KY,154
IN,244
WV,50
AK,28
WA,324
ND,25
MT,37
WI,182
UT,86
NY,1188
MO,225
VA,426
NV,202
NE,40
HI,90
RI,59

In [16]:
# Read the insertion of data
loan_by_state_readStream = spark.readStream.format("delta").load(DELTALAKE_SILVER_PATH)
loan_by_state_readStream.createOrReplaceTempView("loan_by_state_readStream")
display(spark.sql("select sum(count) from loan_by_state_readStream where addr_state = 'IA'"))

sum(count)
2700

**Wait** until the stream is up and running before executing the code below

In [18]:
import time
i = 1
while i <= 6:
  # Execute Insert statement
  insert_sql = "INSERT INTO loan_by_state_delta VALUES ('IA', 450)"
  spark.sql(insert_sql)
  print('loan_by_state_delta: inserted new row of data, loop: [%s]' % i)
    
  # Loop through
  i = i + 1
  time.sleep(5)

**Note**: Once the previous cell is finished and the state of Iowa is fully populated in the map (in cell 14), click *Cancel* in Cell 14 to stop the `readStream`.

In [20]:
%sh
ls -lt /dbfs/ml/denny.lee/loan_by_state_delta/_delta_log/

Let's review our current set of loans using our map visualization.

In [22]:
%sql
-- Review current loans within the `loan_by_state_delta` Delta Lake table
select addr_state, sum(`count`) as loans from loan_by_state_delta group by addr_state

addr_state,loans
AR,110
NM,83
IA,2700
KS,131
NV,202
HI,90
IN,244
WI,182
VA,426
OH,518
DE,28
NY,1188
AK,28
GA,483
OK,147
OR,200
MT,37
NJ,556
PA,535
SD,29
LA,163
WA,324
ND,25
WY,36
KY,154
TX,1274
NC,406
MN,264
MD,337
VT,39
TN,235
MS,80
ID,24
MI,398
IL,571
MO,225
RI,59
WV,50
MA,338
ME,16
DC,35
NH,79
CA,1948
AL,191
UT,86
SC,193
AZ,330
CO,292
FL,1028
CT,229
NE,40

Observe that the Iowa (middle state) has the largest number of loans due to the recent stream of data.  Note that the original `loan_by_state_delta` table is updated as we're reading `loan_by_state_readStream`.

##![Delta Lake Logo Tiny](https://pages.databricks.com/rs/094-YMS-629/images/delta-lake-tiny-logo.png) Full DML Support

**Note**: Full DML Support is a feature that will be coming soon to Delta Lake; the preview is currently available in Databricks.

Delta Lake supports standard DML including UPDATE, DELETE and MERGE INTO providing developers more controls to manage their big datasets.

Let's start by creating a traditional Parquet table

In [26]:
# Load new DataFrame based on current Delta table
lbs_df = sql("select * from loan_by_state_delta")

# Save DataFrame to Parquet
lbs_df.write.mode("overwrite").parquet("loan_by_state.parquet")

# Reload Parquet Data
lbs_pq = spark.read.parquet("loan_by_state.parquet")

# Create new table on this parquet data
lbs_pq.createOrReplaceTempView("loan_by_state_pq")

# Review data
display(sql("select * from loan_by_state_pq"))

addr_state,count
WI,182
VA,426
OH,518
IA,450
NV,202
HI,90
IA,450
IN,244
RI,59
WV,50
MA,338
ME,16
LA,163
AL,191
UT,86
SC,193
AZ,330
CO,292
FL,1028
TX,1274
NC,406
MN,264
MD,337
DC,35
NH,79
IA,450
CA,1948
MI,398
IL,571
MO,225
DE,28
IA,450
NY,1188
AK,28
GA,483
OK,147
OR,200
IA,450
WA,324
ND,25
WY,36
KY,154
MT,37
NJ,556
PA,535
SD,29
AR,110
NM,83
IA,450
KS,131
VT,39
TN,235
MS,80
ID,24
CT,229
NE,40

###![Delta Lake Logo Tiny](https://pages.databricks.com/rs/094-YMS-629/images/delta-lake-tiny-logo.png) DELETE Support

The data was originally supposed to be assigned to `WA` state, so let's `DELETE` those values assigned to `IA`

In [28]:
%sql
-- Attempting to run `DELETE` on the Parquet table
DELETE FROM loan_by_state_pq WHERE addr_state = 'IA'

**Note**: This command fails because the `DELETE` statements are not supported in Parquet, but are supported in Delta Lake.

In [30]:
%sql
-- Running `DELETE` on the Delta Lake table
DELETE FROM loan_by_state_delta WHERE addr_state = 'IA'

In [31]:
%sql
-- Review current loans within the `loan_by_state_delta` Delta Lake table
select addr_state, sum(`count`) as loans from loan_by_state_delta group by addr_state

addr_state,loans
WI,182
VA,426
OH,518
DE,28
NY,1188
AK,28
MT,37
NJ,556
PA,535
SD,29
LA,163
TX,1274
NC,406
MN,264
RI,59
WV,50
MA,338
AR,110
NM,83
KS,131
MD,337
VT,39
TN,235
ME,16
DC,35
NH,79
NV,202
HI,90
IN,244
MS,80
ID,24
MI,398
CA,1948
AL,191
UT,86
GA,483
OK,147
OR,200
IL,571
MO,225
WA,324
ND,25
WY,36
KY,154
SC,193
AZ,330
CO,292
FL,1028
CT,229
NE,40

###![Delta Lake Logo Tiny](https://pages.databricks.com/rs/094-YMS-629/images/delta-lake-tiny-logo.png) UPDATE Support
The data was originally supposed to be assigned to `WA` state, so let's `UPDATE` those values

In [33]:
%sql
-- Attempting to run `UPDATE` on the Parquet table
UPDATE loan_by_state_pq SET `count` = 2700 WHERE addr_state = 'WA'

**Note**: This command fails because the `UPDATE` statements are not supported in Parquet, but are supported in Delta Lake.

In [35]:
%sql
-- Running `UPDATE` on the Delta Lake table
UPDATE loan_by_state_delta SET `count` = 2700 WHERE addr_state = 'WA'

In [36]:
%sql
-- Review current loans within the `loan_by_state_delta` Delta Lake table
select addr_state, sum(`count`) as loans from loan_by_state_delta group by addr_state

addr_state,loans
RI,59
WV,50
MA,338
ME,16
DC,35
NH,79
CA,1948
AL,191
UT,86
SC,193
AZ,330
CO,292
FL,1028
CT,229
NE,40
AR,110
NM,83
KS,131
WI,182
VA,426
OH,518
DE,28
NY,1188
AK,28
NV,202
HI,90
IN,244
GA,483
OK,147
OR,200
MT,37
NJ,556
PA,535
WY,36
KY,154
WA,2700
ND,25
TX,1274
NC,406
MN,264
SD,29
LA,163
MD,337
VT,39
TN,235
MS,80
ID,24
MI,398
IL,571
MO,225

###![Delta Lake Logo Tiny](https://pages.databricks.com/rs/094-YMS-629/images/delta-lake-tiny-logo.png) MERGE INTO Support

#### INSERT or UPDATE parquet: 7-step process

With a legacy data pipeline, to insert or update a table, you must:
1. Identify the new rows to be inserted
2. Identify the rows that will be replaced (i.e. updated)
3. Identify all of the rows that are not impacted by the insert or update
4. Create a new temp based on all three insert statements
5. Delete the original table (and all of those associated files)
6. "Rename" the temp table back to the original table name
7. Drop the temp table

![](https://pages.databricks.com/rs/094-YMS-629/images/merge-into-legacy.gif)


#### INSERT or UPDATE with Delta Lake

2-step process: 
1. Identify rows to insert or update
2. Use `MERGE`

In [38]:
# Let's create a simple table to merge
items = [('IA', 10), ('CA', 2500), ('OR', None)]
cols = ['addr_state', 'count']
merge_table = spark.createDataFrame(items, cols)
merge_table.createOrReplaceTempView("merge_table")
display(merge_table)

addr_state,count
IA,10
CA,2500
OR,null

Instead of writing separate `INSERT` and `UPDATE` statements, we can use a `MERGE` statement.

In [40]:
%sql
MERGE INTO loan_by_state_delta as d
USING merge_table as m
on d.addr_state = m.addr_state
WHEN MATCHED THEN 
  UPDATE SET *
WHEN NOT MATCHED 
  THEN INSERT *

In [41]:
%sql
-- Review current loans within the `loan_by_state_delta` Delta Lake table
select addr_state, sum(`count`) as loans from loan_by_state_delta group by addr_state

addr_state,loans
CA,2500
IA,10
OR,null
AR,110
NM,83
KS,131
NV,202
HI,90
IN,244
GA,483
OK,147
WY,36
KY,154
WA,2700
ND,25
WI,182
VA,426
OH,518
DE,28
NY,1188
AK,28
TX,1274
NC,406
MN,264
MT,37
NJ,556
PA,535
MD,337
VT,39
TN,235
SD,29
LA,163
MS,80
ID,24
MI,398
IL,571
MO,225
RI,59
WV,50
MA,338
ME,16
DC,35
NH,79
AL,191
UT,86
SC,193
AZ,330
CO,292
FL,1028
CT,229
NE,40

##![Delta Lake Logo Tiny](https://pages.databricks.com/rs/094-YMS-629/images/delta-lake-tiny-logo.png) Schema Evolution
With the `mergeSchema` option, you can evolve your Delta Lake table schema

In [43]:
# Generate new loans with dollar amounts 
loans = sql("select addr_state, cast(rand(10)*count as bigint) as count, cast(rand(10) * 10000 * count as double) as amount from loan_by_state_delta")
display(loans)

addr_state,count,amount
WI,75,752957.0179217593
VA,311,3114792.414087954
OH,467,4678421.198351243
DE,5,55521.74986983511
NY,151,1510444.7225029236
AK,21,212920.908295387
MT,4,44513.64645643497
NJ,67,674503.8334196848
PA,216,2169051.826587856
SD,12,128449.46371170343
LA,145,1450501.8333834587
CA,682,6827682.671208404
IA,7,77845.18091224376
OR,null,null
AR,43,434528.9611889129
NM,82,827388.0596843379
KS,114,1140739.5465709562
NV,176,1763351.4265415485
HI,33,338090.8198153231
IN,66,662443.6957532716
GA,30,309881.30569628987
OK,133,1331820.4818476858
WY,21,217337.16882366096
KY,22,221093.00120220188
WA,1480,1.4809271860992322E7
ND,6,69398.43718477084
RI,30,304537.75419357256
WV,5,52026.001881219585
MA,240,2403883.605175312
ME,3,33570.098538810475
DC,3,30818.560001653914
NH,33,335305.2884405982
AL,117,1175663.065985065
UT,35,357439.7064232483
SC,141,1417897.2951134238
AZ,304,3042311.638538019
CO,117,1171892.686245069
FL,914,9143602.367165579
CT,170,1706277.5690579566
NE,3,33289.80538265815
TX,1078,1.0789614642867645E7
NC,148,1488446.0441845232
MN,173,1735713.8707634504
MD,210,2108829.384274294
VT,1,13289.394841127705
TN,138,1382981.481889082
MS,65,655331.4673772488
ID,19,191748.53162132076
MI,245,2454956.3995633726
IL,149,1499795.7502442782
MO,42,421737.1255558796

In [44]:
# Let's write this data out to our Delta table
loans.write.format("delta").mode("append").save(DELTALAKE_SILVER_PATH)

**Note**: This command fails because the schema of our new data does not match the schema of our original data

In [46]:
# Add the mergeSchema option
loans.write.option("mergeSchema","true").format("delta").mode("append").save(DELTALAKE_SILVER_PATH)

**Note**: With the `mergeSchema` option, we can merge these different schemas together.

In [48]:
%sql
-- Review current loans within the `loan_by_state_delta` Delta Lake table
select addr_state, sum(`amount`) as amount from loan_by_state_delta group by addr_state order by sum(`amount`) desc limit 10

addr_state,amount
WA,1.4809271860992322E7
TX,1.0789614642867645E7
FL,9143602.367165579
CA,6827682.671208404
OH,4678421.198351243
VA,3114792.414087954
AZ,3042311.638538019
MI,2454956.3995633726
MA,2403883.605175312
PA,2169051.826587856

## ![Delta Lake Tiny Logo](https://pages.databricks.com/rs/094-YMS-629/images/delta-lake-tiny-logo.png) Let's Travel back in Time!
Databricks Delta’s time travel capabilities simplify building data pipelines for the following use cases. 

* Audit Data Changes
* Reproduce experiments & reports
* Rollbacks

As you write into a Delta table or directory, every operation is automatically versioned.

You can query by:
1. Using a timestamp
1. Using a version number

using Python, Scala, and/or Scala syntax; for these examples we will use the SQL syntax.  

For more information, refer to [Introducing Delta Time Travel for Large Scale Data Lakes](https://databricks.com/blog/2019/02/04/introducing-delta-time-travel-for-large-scale-data-lakes.html)

### ![Delta Lake Tiny Logo](https://pages.databricks.com/rs/094-YMS-629/images/delta-lake-tiny-logo.png) Review Delta Lake Table History
All the transactions for this table are stored within this table including the initial set of insertions, update, delete, merge, and inserts with schema modification

In [51]:
%sql
DESCRIBE HISTORY loan_by_state_delta

version,timestamp,userId,userName,operation,operationParameters,job,notebook,clusterId,readVersion,isolationLevel,isBlindAppend,operationMetrics
10,2020-04-03T23:05:42.000+0000,100599,denny.lee@databricks.com,WRITE,"Map(mode -> Append, partitionBy -> [])",null,List(5400181),0127-045215-pined152,9,WriteSerializable,false,null
9,2020-04-03T22:12:41.000+0000,100599,denny.lee@databricks.com,MERGE,Map(predicate -> (d.`addr_state` = m.`addr_state`)),null,List(5400181),0127-045215-pined152,8,WriteSerializable,false,null
8,2020-04-03T22:12:23.000+0000,100599,denny.lee@databricks.com,UPDATE,Map(predicate -> (addr_state#58482 = WA)),null,List(5400181),0127-045215-pined152,7,WriteSerializable,false,null
7,2020-04-03T22:12:03.000+0000,100599,denny.lee@databricks.com,DELETE,"Map(predicate -> [""(default.loan_by_state_delta.`addr_state` = 'IA')""])",null,List(5400181),0127-045215-pined152,6,WriteSerializable,false,null
6,2020-04-03T22:11:00.000+0000,100599,denny.lee@databricks.com,WRITE,"Map(mode -> Append, partitionBy -> [])",null,List(5400181),0127-045215-pined152,5,WriteSerializable,true,null
5,2020-04-03T22:10:53.000+0000,100599,denny.lee@databricks.com,WRITE,"Map(mode -> Append, partitionBy -> [])",null,List(5400181),0127-045215-pined152,4,WriteSerializable,true,null
4,2020-04-03T22:10:46.000+0000,100599,denny.lee@databricks.com,WRITE,"Map(mode -> Append, partitionBy -> [])",null,List(5400181),0127-045215-pined152,3,WriteSerializable,true,null
3,2020-04-03T22:10:39.000+0000,100599,denny.lee@databricks.com,WRITE,"Map(mode -> Append, partitionBy -> [])",null,List(5400181),0127-045215-pined152,2,WriteSerializable,true,null
2,2020-04-03T22:10:32.000+0000,100599,denny.lee@databricks.com,WRITE,"Map(mode -> Append, partitionBy -> [])",null,List(5400181),0127-045215-pined152,1,WriteSerializable,true,null
1,2020-04-03T22:10:24.000+0000,100599,denny.lee@databricks.com,WRITE,"Map(mode -> Append, partitionBy -> [])",null,List(5400181),0127-045215-pined152,0,WriteSerializable,true,null
0,2020-04-03T21:44:25.000+0000,100599,denny.lee@databricks.com,CREATE TABLE AS SELECT,"Map(isManaged -> false, description -> null, partitionBy -> [], properties -> {})",null,List(5400181),0127-045215-pined152,null,WriteSerializable,true,null

### ![Delta Lake Tiny Logo](https://pages.databricks.com/rs/094-YMS-629/images/delta-lake-tiny-logo.png) Time Travel via Version Number
Below are SQL syntax examples of Delta Time Travel by using a Version Number

In [53]:
%sql
SELECT * FROM loan_by_state_delta VERSION AS OF 0

addr_state,count
WI,182
VA,426
OH,518
DE,28
NY,1188
AK,28
MT,37
NJ,556
PA,535
SD,29
LA,163
AR,110
NM,83
KS,131
NV,202
HI,90
IN,244
GA,483
OK,147
OR,200
WA,324
ND,25
WY,36
KY,154
RI,59
WV,50
MA,338
ME,16
DC,35
NH,79
CA,1948
AL,191
UT,86
SC,193
AZ,330
CO,292
FL,1028
CT,229
NE,40
TX,1274
NC,406
MN,264
MD,337
VT,39
TN,235
MS,80
ID,24
MI,398
IL,571
MO,225

In [54]:
%sql
SELECT * FROM loan_by_state_delta VERSION AS OF 9

addr_state,count
WI,182
VA,426
OH,518
DE,28
NY,1188
AK,28
MT,37
NJ,556
PA,535
SD,29
LA,163
CA,2500
IA,10
OR,null
AR,110
NM,83
KS,131
NV,202
HI,90
IN,244
GA,483
OK,147
WY,36
KY,154
WA,2700
ND,25
RI,59
WV,50
MA,338
ME,16
DC,35
NH,79
AL,191
UT,86
SC,193
AZ,330
CO,292
FL,1028
CT,229
NE,40
TX,1274
NC,406
MN,264
MD,337
VT,39
TN,235
MS,80
ID,24
MI,398
IL,571
MO,225

## Run Our Model
Let's run a simple linear regression model to predict the number of loans based on the population of the state

In [56]:
%sh mkdir -p /dbfs/tmp/sais_eu_19_demo/census/ && wget -O /dbfs/tmp/sais_eu_19_demo/census/us_census_2010.csv https://pages.databricks.com/rs/094-YMS-629/images/us_census_2010.csv && ls -al /dbfs/tmp/sais_eu_19_demo/census/

### Notes
If you forgot to install `mlflow` and `yellowbrick` on your cluster, instead of re-running everything all over again:
* Note that the Delta Lake table is stored in `DELTALAKE_SILVERPATH` or `/ml/loan_by_state_delta`
* You can add the libraries, restart the cluster and then start reading the data from the following cells (instead of rerunning everything all over again)
* Just uncomment the cell below to reconnect to your Delta Table

In [58]:
## Recreate loan_by_state_delta view
# spark.read.format("delta").load("/ml/loan_by_state_delta").createOrReplaceTempView("loan_by_state_delta")
## Check data
# display(spark.sql("select count(1) from loan_by_state_delta"))

In [59]:
# Include census data
census = spark.read.csv('/tmp/sais_eu_19_demo/census/us_census_2010.csv', sep=',', inferSchema=True, header=True)
census.createOrReplaceTempView("census")

# Data versions (0, 6, 9)
dfv0 = spark.sql("select c.Population, l.count as label from (select addr_state as State, count from loan_by_state_delta  version as of 0) l left outer join census c on c.State = l.State")
dfv6 = spark.sql("select c.Population, l.count as label from (select addr_state as State, count from loan_by_state_delta  version as of 6) l left outer join census c on c.State = l.State")
dfv9 = spark.sql("select c.Population, l.count as label from (select addr_state as State, count from loan_by_state_delta  version as of 9 where count is not null) l left outer join census c on c.State = l.State")

In [60]:
# Import MLflow
import mlflow
import mlflow.spark
#print("MLflow Version: %s" % mlflow.__version__)

# Display Residuals (yellowbrick)
def displayResiduals(train, test):
  from sklearn.linear_model import Ridge
  from yellowbrick.regressor import ResidualsPlot

  # define feature columns
  featureColumns = ['Population']

  # Create pandas DataFrames
  pdf_train = train.toPandas()
  pdf_test = test.toPandas()

  # Convert to X, y train and test values
  X_train = pdf_train[['Population']].to_numpy()
  y_train = pdf_train[['label']].to_numpy().flatten()
  X_test = pdf_test[['Population']].to_numpy()
  y_test = pdf_test[['label']].to_numpy().flatten()  
  
  # Instantiate the linear model and visualizer
  ridge = Ridge()
  visualizer = ResidualsPlot(ridge)

  # Visualize
  visualizer.fit(X_train, y_train)  # Fit the training data to the model
  visualizer.score(X_test, y_test)  # Evaluate the model on the test data
  visualizer.show(outpath="ridge-model-residuals.png")
  #fig=visualizer.poof()             # Draw/show/poof the data
  
# Predict Loan Count (based on state population)
def predictLoanCount(df, data_version):
  from pyspark.ml.linalg import Vectors
  from pyspark.ml.feature import VectorAssembler
  from pyspark.ml.regression import LinearRegression
  from pyspark.ml.evaluation import RegressionEvaluator
  
  # assemble vector
  assembler = VectorAssembler(
    inputCols=["Population"],
    outputCol="features")
  output = assembler.transform(df)

  # Log mlflow
  with mlflow.start_run() as run:  
    # Define LinearRegression algorithm
    lr = LinearRegression(maxIter=10, regParam=0.0, elasticNetParam=0.8)
    model = lr.fit(output)  

    # Calculate predictions
    predictions = model.transform(output)

    # calculate RMSE
    evaluator = RegressionEvaluator(metricName="rmse")
    RMSE = evaluator.evaluate(predictions)

    # Log Parameters
    mlflow.log_param("data version", data_version)
    mlflow.log_metric("RMSE", RMSE)

    # Log Model
    mlflow.spark.log_model(model, "model") 
    
    # Save if not data_version is "v0"
    if (data_version != 'v0'):
      # Log artifacts (output files)
      mlflow.log_artifact("ridge-model-residuals.png")
  
  # return predictions DataFrame
  #return predictions

In [61]:
# Calculate predictions
# Initial version of data (v0)
predictLoanCount(dfv0, 'v0')

# Version 6 (after streaming of Iowa data)
displayResiduals(dfv0, dfv6)
predictLoanCount(dfv6, 'v6')

# Version 9 (after correction of data: update, delete, merge)
displayResiduals(dfv0, dfv9)
predictLoanCount(dfv9, 'v9')

#### Review RMSE and Residuals
* Review the RMSE values via the MLflow Sidebar